
  
/* Définition des polices*/


@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-variablefont_wght-webfont.eot');
    src: url('raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-variablefont_wght-webfont.woff') format('woff'),
         url('raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}
    
  /*Application des polices sur tout le site + display et alignement*/
  body
  {
      font-family: 'ralewaythin', sans-serif;
      display: flex;
      justify-content: center;    
}
      
 
.container /*dois-je ajouter une taille de base à donner aux elements ?
mobile first : quelle est-la largeur en px d'un iphone 8?*/
{
  width: 600px;
}

header
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

nav
{
display: flex;
list-style-type: none;
}

.logo
{
    display: block;
    position: relative;
    height: 60px;
    left: 20px;
    top: 15px;

}

.menu
{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  

   
 
    
}



.liens1
{
    
    display: flex;
    list-style-type: none; /*comment l'ajouter aux deux en même temps ?*/
    

}

.bleu
{
font-weight: 700;
border-top: none;
border-bottom: 3px solid blue;



}

.liens2
{
    display: flex;
    justify-content: flex-end;
  align-items: center;
}

.inscrire
{
    color: blue;
}
a
{
    text-decoration: none;
    color: inherit;


}


.title h1
{
font-size: 22px;
max-width: 500px;


}

.title p
{
    font-size: 14px;
}

.search
{
    display: flex;
    align-items: center;
}

.groupe span
{
    background-color: grey;
    display: inline-block; /*?*/
    padding: 0 10;
    line-height: 35px;

}

#search 
{
    height: 100%;
    
}

.groupe .bouton1
{
height: 100%;
background-color: blue;
border: 1px solid blue;

}