/* Définition des polices*/


@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-variablefont_wght-webfont.eot');
    src: url('raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-variablefont_wght-webfont.woff') format('woff'),
         url('raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}
        
    
            
    
    /*utilisation de la police sur le site*/
body
{
font-family: "ralewaythin", arial;
font-size: 0.5em;
}
h1
{
    font-weight: bold;
}
h2
{
    font-weight: 200;
}

/*Elements principaux de la page*/

body
{
    width: auto;
}




/*Elements header*/

#logo, #menu
{
display: inline-block;
align-items: center;
}

#menu
{
    width: 0,5%;
}

/*Elements recherche*/


.form, p
{
    display: inline;
    border-radius: 20px / 10px;


  
}


#icon
{
    background-color: #F2F2F2;
    size:500px;
}


.boutonbleu
{
    position: absolute;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    
}


